<%- include('./partials/header') %>



<% data.forEach(({ id, content, username, logoUrl, created_at }) => { %>
    <div style = "margin: 20px">
    <a class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
      </div>
      <img src="<%= logoUrl %>" width = '50px' height = '50px'alt="">
      <small style = "font-weight: bold;"> <%= username %></small> <small><%= created_at %></small>
      <p class="mb-1"><%= content %></p>
    </a>
</div>
  <% }) %>

<%- include('./partials/footer') %>
